*.Rhistory
*.out
*.toc
*.aux
*.log
*.bak
*.gz
*.json
*.user
*.idx
*.class
*.pyc
*.cache
*.swp 
*.*~
.idea/*
src/main/scala/org/aja/dhira/.idea/*
src/main/scala/org/aja/dhira/target/*
src/main/scala/org/aja/dhira/project/target/*
target/*
project/target/*
tej/.idea/*
tej/target/*
tej/project/target/*
dhira/.idea/*
dhira/target/*
dhira/project/target/*
tantra/.idea/*
tantra/target/*
tantra/project/target/*
